@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .down-arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #ccc;
    border-bottom: 0;
  }

  .right-arrow {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid #ccc;
    border-right: 0;
  }

  @variants hover {
    .nav-link {
      border-bottom: 2px solid #13b9e2;
      margin-bottom: -2px;
    }
  }
}
