:root {
  --white-color: #ffffff;
  --black-color: #00323c;
  --blue-color: #11a8cd;
  --gray-color: #aaaaaa;
  --font-gray-color: #888888;
  --font-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font-size: 16px;
}

a,
button,
input {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a {
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: #11a8cd;
}
